.modal-container{
    height: inherit;
    padding: 0px 0px;
}

form{
    height: inherit;
    overflow: hidden;
   
}

.form-scroll{
    height: 450px;
    overflow-y: auto;
    width: 515px;
}

.edit-stock-header {
  display: flex;
  align-items: center;
}
.edit-stock-img {
  margin-right: 20px;
  height: 60px;
}
.size-btn-container {
    position: relative;
padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}
.shoe-size-btn {
  display: flex;
  outline: none;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
  width: 60px;
  justify-content: center;
  height: 20px;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;

}
.drop-down-size{
    display: flex;
    gap: 20px;
    justify-content: center;
    left: 80px;
    top: 0;
    height: 20px;
    align-items: center;
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    padding: 0px 15px;
    font-size: 12px;
    cursor: pointer;
}
.active{
    text-decoration: none;
    opacity: 1;
    visibility: visible;
}
.product-size-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    border-bottom: solid 1px #F4F4F4;
    padding-bottom: 10px;

}
.product-size-btn{

    outline: none;
    border: none;
    background-color: #F4F4F4;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
}




.size-list-container{
    padding-top: 10px;
    max-height: 210px;
    border-bottom: solid 1px #F4F4F4;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;



}

.slected-size-container{
    display: flex;
width: 167px;
justify-content: center;
}

.size-list{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
width:50px;
gap: 5px;
margin-bottom: 5px;
justify-content: space-between;

}
.quantity-input{
    display: flex;
    width: 40px;
    height: 17px;
    border: solid 2px #F4F4F4;

    border-radius: 5px;
    font-size: 12px;
    justify-content: end;
    align-items: right;
    outline: none;

}

.cancel-selected-size{
    width: 12px;
    
}
.fix-cross{
display: flex;
outline: none;
background-color: transparent;
border: none;
align-items: center;
cursor: pointer;
margin-left: 10px;
}


/* price input section */
/* 
.price-info-container{
    display: flex;
} */


.input-info-ps::-webkit-inner-spin-button,
.input-info-ps::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.lol{
    display: flex;
}
.price-info-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 6px;

}
.purchase-price-input{
    width: 100px !important; 
    border: solid 1px #F4F4F4;
    border-radius: 0px 5px 5px 0px ;
    padding: 0px;
}
.input-info-ps{
    outline: none;
    border: solid 1px #F4F4F4;
    height: 35px;
    padding: 0px;
padding-left: 10px;
width: 150px;


}
.input-info-ps::placeholder{
    /* padding-left: 10px; */
    color:#CFCFCF;
}
.curreny-btn-ctn-width{
    width: 57px;


}
.currency-btn{
    width: 57px;
    justify-content: space-between;
    padding: 0px 10px;
    height: 37px;
    font-size: 13px;
    box-shadow: none;
    background-color: #F4F4F4;
    border-radius: 5px 0px 0px 5px ;
}
.currency-btn-arrow-size{
    height: 17px;
}
.drop-currency-btn-width{
    min-width: 57px;
    font-size: 13px;
}
.buy-date-input{
    font-family: "laced";
    font-size: 14px;
    padding: 0px 10px ;
    width: 140px;
}
.price-input-label{
    display: flex;
    font-size: 12px;
text-align: left;
margin-bottom: 5px;
}

.submit-form-btn{
    outline: none;
    border: none;
    background-color: #F4F4F4;
    height: 35px;
    width: 100px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;


}

::-webkit-scrollbar {

    width: 5px; 
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f1f1f1; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
  }
