.platform-btn{
    box-shadow: none;
    border: solid 1px #F4F4F4;
    border-radius:0px;
    width: 162px;
    font-size: 14px;
    height: 37px;
}
.platform-btn-ctn-width{    
    width: 162px;
}
.drop-platform-btn-width{
    width: 162px;
    min-width: 162px;
    border-radius: 0px;
    height: 100px;
    font-size: 14px;
    overflow-y: scroll;
}

.prev-data{
    /* color: #F4F4F4; */
    
}