@font-face {
  font-family: laced;
  src: url('./Fonts/LACED22Sans-Regular.woff');
}


body {
  margin: 0;
  display: flex;
  font-family: "laced";
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #222222;
    background-color: #ffffff;
  }
}
button{
  font-family: "laced";
  
}
